.navigatorVertical {
  background: $color-2;
  width: 117px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 0.7em;
    color: #ffffff99;
  }

  .containerIconsNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin-top: 100%;

    .iconNav {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      border-radius: 10px;
      display: flex;
      background: white;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}
